# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
*.DS_Store

# Django
db.sqlite3
/staticfiles/
media/

# Virtualenv
venv/
.env/

# VSCode
.vscode/

# Migrations (optional)
*/migrations/__pycache__/
*.pyc
